.input {
    border-radius: 4px;
    display: inline-block;
    margin: 0 2px;
    width: 250px;
    height: 36px;
    border: 1px solid #ccc;
    transition: .3s;

}

.input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ccc;
}

.error{
    border: 1px solid #ff4d52;
}

.error:focus {
    box-shadow: 0 0 0 2px #ff4d52;
}
