.dialog{
    margin: 30px auto;
}
.avatar{
    text-align: center;
}
.avatar img {
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    position:absolute;
    bottom:0;
    right: 15px;
}

.message {
    position:relative;
    border-radius: 15px 15px 15px 0;
    background: deepskyblue;
    padding: 8px;
}
.message::before {
    content: "";
    position:absolute;
    top:30px;
    left:-40px;
    height:40px;
    width: 40px;
    border-bottom-left-radius: 50%;
    background:#fff;
    box-shadow: 0 20px 0 0 deepskyblue;
    transform: rotate(-90deg);
    z-index: -1;
}
.message h6 {
    color: blueviolet;
}

.text{
    font-size: 18px;
    color: midnightblue;

}
.time {
    color: midnightblue;
    position:absolute;
    bottom:0;
    right: 10px;
    font-size:15px;
    opacity: .3;
}