.btn {
    display: inline-block;
    margin: 0 2px;
    padding: 5px 8px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    transition: .3s;
}

.btn:hover {
    background-color: #6c757d;
    color: white;
}

.btn:active, .btn:focus {
    outline: none;
}

.btn:focus {
    box-shadow: 0 0 0 2px #ccc;
}

.btn_red {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.btn_red:hover {
    background-color: #dc3545;
}

.btn_red:focus {
    box-shadow: 0 0 0 2px #dc3545;
}